.logo {
  max-width: 50px;
  max-height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
}

.nav-items {
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: space-evenly;
  margin-right: 10px;
}
.img-restraunt {
  width: 300px;
  height: 300px;
}
.restraunt-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  justify-items: top;
  align-items: top;
  gap: 10px;
}

.res-card {
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
}

.bodySelector {
  display: flex;
  justify-content: space-between;
  min-width: 20px;
  min-height: 30px;
  margin: 5px;
  padding: 5px;
}

.Body {
  background-color: rgb(228, 219, 219);
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.filter {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

/* to make button to look green when active */
.active {
  background-color: green;
}

/*  this css to  make search icon to fit inside input box */

.SearchInputcontainer {
  position: relative;
  display: inline;
  margin: 2px;
}

.searchIcon {
  position: absolute;
  right: 5px;
  top: 2px;
}
.SearchInput {
  padding: 5px;
}
